alabaster==0.7.12
Babel==2.9.1
cachetools==4.2.2
dataframe==0.2.1.3
geographiclib==1.52
geopy==2.2.0
google-api-core==1.31.0
google-api-python-client==2.13.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gspread==3.7.0
gspread-dataframe==3.2.1
httplib2==0.19.1
imagesize==1.2.0
iniconfig==1.1.1
nose==1.3.7
numpy==1.21.0
oauthlib==3.1.1
pandas==1.3.0
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygsheets==2.0.5
PySocks==1.7.1
pytest==6.2.4
python-dotenv==0.18.0
pytz==2021.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.0
Sphinx==4.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
tweepy==3.10.0
uritemplate==3.0.1
